.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    margin: auto;
    padding-top: 5%;
    width: 80%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    font-size: 2rem;
    padding: 2% 20%;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.buttons{
    width: 50%;
    margin: 2% auto;
    text-align: center;
}

.validators{
    width: 20%;
    margin: 2% auto;
}

.validators li{
    list-style: none;
    float: left;
}

.css{
    padding-top: 15px;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}